.website-root{
  padding: 32px;
}

.splash-container {
    display: flex;
    justify-content: center;
}


.resume-item__wrapper {
    padding: 16px;
}

.resume-details {
    padding-top: 8px;
    max-width: 500px;
}